
.quelora-svg-icon,
.quelora-icons-outlined {
    display: inline-flex; 
    vertical-align: middle;
    line-height: 1;
    text-align: center;
    position: relative;
    overflow: hidden;

}

.community-threads .like-icon svg{
    width: 18px;
    height: 18px;
}

.quelora-icons-outlined svg,
.quelora-svg-icon svg {
    display: inline-block;
    vertical-align: middle;
}

.quelora-icons-outlined:not(:has(svg)) {
  display: none;
}

[data-theme="dark"] {
    .quelora-svg-icon svg{
        fill: #666;
    }
}