:root{
--quelora-follow-button-bg: rgba(255, 255, 255, 0.8);
--quelora-follow-button-color: #007AFF;
--quelora-follow-button-border: rgba(0, 0, 0, 0.1);
--quelora-follow-button-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 1px rgba(255, 255, 255, 0.5);
--quelora-follow-button-hover-bg: rgba(240, 240, 240, 0.9);
--quelora-follow-button-hover-shadow: 0 4px 8px rgba(0, 0, 0, 0.08), inset 0 1px 1px rgba(255, 255, 255, 0.6);
--quelora-follow-button-active-bg: rgba(220, 220, 220, 0.85);
--quelora-follow-button-active-scale: 0.97;
--quelora-follow-button-hover-scale: 1.03;
--quelora-follow-button-radius: 18px;
--quelora-follow-button-active-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
--quelora-follow-button-active-bg-profile: #66BFFF;
--quelora-follow-button-active-bg-list: #5EE6E6;
--quelora-color: #1BCBFC;
--quelora-primary-color:#1fa8f5;
--quelora-primary-text-color:#fefefe;
--quelora-secondary-color:#404040;
--quelora-background-color:#313131;
--quelora-bw-background-color:#202020;
--quelora-light-border-color:#202020;
--quelora-border-color:#202020;
--quelora-dark-background-color:#313131;
--quelora-light-background-color:#202020;
--quelora-gray-color:lightgray;
--quelora-medium-gray-color:#737373;
--quelora-light-gray-color:#a6a6a6;
--quelora-error-color:red;
--quelora-success-color:#ccc;
--quelora-warning-color:#ff4d4d;
--quelora-hover-warning-color:#ff1a1a;
--quelora-text-color:#dbdbdb;
--quelora-placeholder-color:#999;
--quelora-icon-color:#fff;
--quelora-active-icon-color:#ed4956;
--quelora-interaction-count-color:#8e8e8e;
--quelora-gold-color: #FFD700;  
--quelora-accent-color: #404040; 
--quelora-frosted-bg: rgba(255, 255, 255, 0.9);  
--quelora-shadow: 0 4px 16px rgba(0, 0, 0, 0.08); 
--quelora-level-0-color:#474747;
--quelora-level-1-color:#4d4d4d;
--quelora-level-2-color:#5a5a5a;
--quelora-level-3-color:#676767;
--quelora-level-4-color:#747474;
--quelora-level-5-color:#818181;
--quelora-level-6-color:#8e8e8e;
--quelora-level-7-color:#9b9b9b;
--quelora-level-8-color:#a8a8a8;
--quelora-level-9-color:#b5b5b5;
--quelora-level-default-color:#000000;
--avatar-border-width:3px;
--avatar-small-border-width:1px;
--avatar-border-color:#fff;
--avatar-shadow-1:03px6pxrgba(255,255,255,0.16);
--avatar-shadow-2:03px6pxrgba(255,255,255,0.23);
--font-size-xxxs:8px;
--font-size-xxs:10px;
--font-size-xs:12px;
--font-size-sm:13px;
--font-size-md:14px;
--font-size-lg:15px;
--font-size-xl:17px;
--font-size-xxl:19px;
--font-size-xxxl:23px;
--font-size-display:25px;
--icon-size-sm:14px;
--icon-size-md:16px;
--icon-size-lg:18px;
--icon-size-xl:20px;
--icon-size-xxl:22px;
--icon-size-xxxl:24px;
--icon-size-display:25px;
--icon-size-push:36px;
--spacing-xxs:2px;
--spacing-xs:4px;
--spacing-sm:5px;
--spacing-md:6px;
--spacing-lg:8px;
--spacing-xl:10px;
--spacing-xxl:12px;
--spacing-xxxl:15px;
--spacing-display:20px;
--quelora-language-select-height: 48px;
--quelora-suboption-indent: 20px;
--quelora-option-description-color: var(--quelora-light-gray-color);
--quelora-language-select-icon-size: 24px;
--quelora-theme-group-padding: 12px;
--quelora-toast-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
--quelora-toast-border-radius: 12px;
--quelora-toast-padding: var(--spacing-xl);
--quelora-toast-gap: var(--spacing-lg);
--quelora-toast-title-margin: var(--spacing-xs);
--quelora-toast-close-size: 24px;
}

[data-theme="light"]{
--quelora-follow-button-bg: rgba(255, 255, 255, 0.9);
--quelora-follow-button-color: #007AFF;
--quelora-follow-button-border: rgba(0, 0, 0, 0.1);
--quelora-follow-button-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 1px rgba(255, 255, 255, 0.5);
--quelora-follow-button-hover-bg: rgba(245, 245, 245, 0.95);
--quelora-follow-button-hover-shadow: 0 4px 8px rgba(0, 0, 0, 0.08), inset 0 1px 1px rgba(255, 255, 255, 0.6);
--quelora-follow-button-active-bg: rgba(230, 230, 230, 0.85);
--quelora-follow-button-active-bg-profile: #66BFFF;
--quelora-follow-button-active-bg-list: #5EE6E6;
--quelora-color: #1BCBFC;
--quelora-primary-color:#1fa8f5;
--quelora-primary-text-color:#333;
--quelora-secondary-color:#F2F2F2;
--quelora-background-color:#FFFAFA;
--quelora-border-color:#dbdbdb;
--quelora-dark-background-color:#e6e6e6;
--quelora-bw-background-color:#FFFFFF;
--quelora-light-background-color:#F2F2F2;
--quelora-light-border-color:#dbdbdb;
--quelora-gray-color:lightgray;
--quelora-medium-gray-color:#666;
--quelora-light-gray-color:#999;
--quelora-error-color:red;
--quelora-success-color:#3897f0;
--quelora-warning-color:#ff4d4d;
--quelora-hover-warning-color:#ff1a1a;
--quelora-text-color:#333;
--quelora-gold-color: #5f551a;
--quelora-placeholder-color:#999;
--quelora-icon-color:#333;
--quelora-active-icon-color:#ed4956;
--quelora-interaction-count-color:#8e8e8e;
--quelora-level-0-color:#f8f8f8;
--quelora-level-1-color:#e0e0e0;
--quelora-level-2-color:#d0d0d0;
--quelora-level-3-color:#c0c0c0;
--quelora-level-4-color:#b0b0b0;
--quelora-level-5-color:#a0a0a0;
--quelora-level-6-color:#909090;
--quelora-level-7-color:#808080;
--quelora-level-8-color:#707070;
--quelora-level-9-color:#606060;
--quelora-level-default-color:#ffffff;
--avatar-small-border-width:1px;
--avatar-border-width:3px;
--avatar-border-color:#fff;
--avatar-shadow-1:03px6pxrgba(0,0,0,0.16);
--avatar-shadow-2:03px6pxrgba(0,0,0,0.23);
}